.login-kotak{
    width: 50%;
    border: whitesmoke 5px solid;
    height:50%;
    border-radius: 20px;
    color: whitesmoke;
    flex-direction: column;
}

.login-placeholder::placeholder{
    color: white !important;
}   

.regist{
    color: white !important;
    cursor: pointer;
    text-align: center !important;
}
.regist:hover{
    color: dodgerblue !important;
}